<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
 

<configuration>
  
    
  <appSettings>
    <add key="EMailAdres" value="ornekadres@gmail.com"/>
    <add key="Password" value="ornekadres2525"/>
    <add key="SSL" value="Enabled"/>
    <add key="MailPortNumber" value="587"/>
    <add key="MailURL" value="smtp.gmail.com"/>
    <add key="PDFReportPath" value="\Reports\"/>
   <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
  
   
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
 <system.web>
    <sessionState timeout="60" />
  </system.web>

</configuration>